body{
  font-family: 'Montserrat', sans-serif;
}

.format-item{
  letter-spacing: 2px;
  text-decoration: none;
  transition: color 0.8s;
}

.format-item:hover{
  color: rgba(255,255,255,0.5);
}
