.burguer-menu{
  background-color: transparent;
  width: 30px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear;
  display: none;
}

.burguer-menu:hover{
  opacity: 0.5;
}

.burguer-menu img{
  width: 100%;
}

@media (max-width: $min-size-desktop) {
  .burguer-menu{
    display: inline;
  }
}
